body {
	background: #476347;
}
.item {

	border-bottom: 1px solid black;

}

.item :hover {

	
}

.movieInfo {
	

}

img {

	width: 150px;
	height: 200px;
	
	
	box-shadow: 0 0 20px #000
}

#oneMovie img {
	width: 230px;
	height: 280px;
}


#movieDetails a {
	color: black;
}

#memory a {
	color: black;
}

#movieDetails button {
	  background: #095c13;
	  border-radius: 28px;
	  color: #b9b9b9;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
}